{% extends 'base.html' %}

{% block content %}
    <p>여기는 실험실. 아직 완성되지 않았음</p>
    <div id="map"></div>
    <button class="btn btn-primary" onclick="hereLocMap()">-_-</button>

<script>
    var map;
    var markers = [];

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
              zoom: 4,
              center: {lat: -25.363882, lng: 131.044922 },
              disableDefaultUI: true,
                zoomControl: true
            });

            map.addListener('click', function(e) {
              addMarker(e.latLng, map);
            });
          }

      // Note: This example requires that you consent to location sharing when
      // prompted by your browser. If you see the error "The Geolocation service
      // failed.", it means you probably did not give permission for the browser to
      // locate you.

      function hereLocMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 10,
            disableDefaultUI: true, zoomControl: true
        });

        var infoWindow = new google.maps.InfoWindow({map: map});

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            infoWindow.setPosition(pos);
            infoWindow.setContent('lat: '+pos.lat+'\    lng: '+pos.lng);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }

        map.addListener('click', function(e) {
              addMarker(e.latLng, map);
            });

      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }


      /*         ***********************************         */




      // Adds a marker to the map and push to the array.
      function addMarker(location) {
          deleteMarkers();
        var marker = new google.maps.Marker({
          position: location,
          map: map,
            animation: google.maps.Animation.DROP
        });
        // map.panTo(location);
        markers.push(marker);
      }

      // Sets the map on all markers in the array.
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }

      // Removes the markers from the map, but keeps them in the array.
      function clearMarkers() {
        setMapOnAll(null);
      }

      // Shows any markers currently in the array.
      function showMarkers() {
        setMapOnAll(map);
      }

      // Deletes all markers in the array by removing references to them.
      function deleteMarkers() {
        clearMarkers();
        markers = [];
      }




// **************************************************//




</script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDz1ovFGMcxbzWwMFy6wXQ6oM_WvZflwf8&callback=initMap">
    </script>



{% endblock %}
